#game-intro {
    z-index: 5;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background: #99cccc;
    text-align: center;
    height: 100%;
    width: 100%;
    
    transition: 0.5s opacity linear;
}

#game-intro img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
}

#game-intro.visible {
    opacity: 1;
}