#game-hud {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: none;
  font-family: monospace;
}

#active-bonuses {
    position: absolute;
    left: 50px;
    top: 50px;
}

#active-bonuses > div {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    color: white;
    margin: 0px 0px 1px;
    padding: 5px;
    position: relative;
    font-size: 17px;
}

#active-bonuses > div > div {
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    right: 0px;
}

#active-bonuses > div.mine > div {
    background: rgba(0, 255, 0, 0.5);
}

#active-bonuses > div > span {
    float: right;
    margin-left: 10px;
    color: #333;
}

#race-stats {
  color: white;
  text-align: center;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
}

#race-time {
  display: inline-block;
  text-shadow: 0px 0px 5px black;
  padding: 5px;
}

#race-position {
  padding: 5px;
  display: inline-block;
  color: white;
  text-shadow: 0px 0px 5px black;
  font-size: 25px;
  float: right;
}

#race-position>span {
  font-size: 28px;
}

#race-standings:empty {
  display: none;
}

#race-standings {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  right: 0px;
  position: absolute;
  padding: 5px;
}

#race-standings div.me {
    text-decoration: underline;
}

#race-standings div.pos-0 {
  color: gold;
  font-weight: bold;
}

#race-standings div.pos-1 {
  color: silver;
  font-weight: bold;
}

#race-standings div.pos-2 {
  color: brown;
  font-weight: bold;
}