body {
    padding: 0;
    margin: 0;
    background: black;
}

body>canvas {
  width: 100%;
  height: 100%;
}

body>img {
  display: none;
  visibility: hidden;
}

/** GAME HUD */

#game-hud {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: none;
}

#race-stats {
  background: black;
  color: white;
  text-align: center;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

#race-time {
  display: inline-block;
  padding: 5px;
}

#race-position {
  padding: 5px;
  display: inline-block;
  background: white;
  color: red;
  float: right;
}

#race-standings:empty {
  display: none;
}

#race-standings {
  background: black;
  color: white;
  font-family: monospace;
  right: 0px;
  position: absolute;
  padding: 5px;
}

#race-standings div.pos-0 {
  color: gold;
  font-weight: bold;
}

#race-standings div.pos-1 {
  color: silver;
  font-weight: bold;
}

#race-standings div.pos-2 {
  color: brown;
  font-weight: bold;
}