@import "game-hud.css";
@import "hud-touch.css";

body {
    padding: 0;
    margin: 0;
    background: black;
}

body>canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

canvas#layer-default {
  z-index: 1;
}

canvas#layer-water {
  z-index: 0;
}

body>img {
  display: none;
  visibility: hidden;
}