@import "game-intro.css";
@import "game-hud.css";
@import "hud-touch.css";

body {
    padding: 0;
    margin: 0;
    background: black;
}

body>canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

canvas#layer-default {
  background: radial-gradient(ellipse at center, #3030C5 0%,#3030C5 64%,#13138C 100%);
  z-index: 1;
}

canvas#layer-water {
  z-index: 0;
}

body>img {
  display: none;
  visibility: hidden;
}